# Vivado工程临时文件、缓存文件
*.bit
*.bin
*.jou
*.log
*.pb
*.rpt
*.str
*.wdb
*.xil
*.zip
*.xpr
vivado*.backup
*.backup

# Vivado自动生成目录
.cache/
hw/
runs/
ip_user_files/
gen/
reports/
sim_1/
synth_1/
impl_1/
.webtalk/
*.hw/

# 开发IDE配置文件
.vscode/
.idea/

# 操作系统垃圾文件
.DS_Store
Thumbs.db
